/* CSS declarations go here */
body {
    margin: 0; padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    width: 100%;
    border-bottom: 1pt solid black;
    font-size: 15pt;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 10pt;
    clear: both;
}
    h1 {
        margin-left: 20px;
        float: left;
    }
    h2 {
        float: right;
        margin-right: 20px;
    }

.thing {
    clear: both;
    width: 90%;
    margin: 2% 5% 0 5%;
    font-family: Helvetica;
    font-size: 15pt;
    color: black;
}

.basic {
    width: 90%;
    margin: 0 5%;
}
    .basic input[name=submitter] {
        max-width: 25%;
        min-width: 20px;
    }
    .basic input[name=part] {
        max-width: 50%;
    }
    .basic input[name=description] {
        max-width: 50%;
    }
    .basic input[type=submit] {
        position: fixed; bottom: 10px;
        text-align: center;
        margin-left: -25px;
        width: 50%; height: 50%;
        min-width: 150px; min-height: 150px;
        border-radius: 100%;
    }


.delete {
    color: red;
}